pyodbc
Flask
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
vaderSentiment
beautifulsoup4
pyLDAvis
apiclient
pandas
werkzeug==0.16.0
google-api-python-client
afinn
matplotlib 
numpy==1.19.0
oauth2client
nltk
tensorflow
tensorflow_hub
sklearn
matplotlib
